/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {

  body {
    min-width: 300px !important;
  }

  .heroBanner {
    padding: 2rem;
  }

  .headerBanner {
    background-size: 100% 100% !important;
  }

  .homeDescBackaged {
    width: 100% !important;
  }

  .homelinks {
    justify-content: space-around !important;
  }

  .desc {
    width: 100% !important;
  }

  .homeLink {
    margin: 0 !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBanner {
  padding: 2rem;
  display: flex;
  height: calc(100vh - var(--ifm-navbar-height));
  min-height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  /* background: url(/img/tbs.svg) no-repeat 90% center; */
}

.headerBannerImg {
  width: 95%;
  /* max-width: 500px; */
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.desc {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 1rem;
  z-index: 10;
}

.homelinks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.homeLink {
  width: 7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #16baec;
  box-shadow: 6px 6px 19px #14a6d2, 0px 0px 19px #18ceff;

  transition: all 0.2s;
  color: #333;
  font-weight: 600;
  margin: 1rem;
}

.homeLink:hover {
  text-decoration: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #1bc7ff, #17a7d8);
  box-shadow: 0px 0px 0px 0px #17abdd, -1px 0px 21px #1bc9ff;
  color: #fff;
}

body {
  min-height: 100vh;
}