/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .headerBanner {
    background-size: 100% 100% !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBanner {
  padding: 2rem;
  display: flex;
  height: calc(100vh - var(--ifm-navbar-height));
  min-height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: url(/img/undraw_static_assets_rpm6.svg) no-repeat 90% center / auto 90%;
}

.desc {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 1rem;
}

.homelinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.homeLink {
  width: 7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #16baec;
  box-shadow: 6px 6px 19px #14a6d2, 0px 0px 19px #18ceff;

  transition: all 0.2s;
  color: #333;
  font-weight: 600;
  margin-right: 1rem;
}

.homeLink:hover {
  text-decoration: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #1bc7ff, #17a7d8);
  box-shadow: 0px 0px 0px 0px #17abdd, -1px 0px 21px #1bc9ff;
  color: #fff;
}
